@import url('https://fonts.googleapis.com/css?family=Inter:400,600,700,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: "Inter", sans-serif;
}

li, a, button {
	font-family: "Inter", sans-serif;
	font-weight: 400, 800;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

header {
	background-color: #F7E9E8;
	width: 100%;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px
}

.jumbotron {
	padding: 50px 12%;
	background-color: #F7E9E8;
	color: black;
	width: 100%;
}

.logo {
	cursor:pointer;
	margin-left: -40px;

}

.nav-links {
	list-style: none;


}
.nav-links li {
	display: inline-block;
	padding: 0px 20px;
	}

.nav-links li a { /*nav links before hovering*/
	transition: all 0.3s ease 0s;
	color: #F8B5B0;
}

.nav-links li a:hover {
	color: #C38C87; 
}

.gallery {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.col-sm {
	padding: 0px;
	
}
.card {
	padding: 15px;
}

.home {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}



.container-about {
	display: flex;
	align-items: center;
	padding: 30px 8%;
}

.subtitles {
	font-family: 'DM Serif Display', serif;
	font-weight: normal; 
}

.display-4 { /*Header Title*/ 
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	padding: 10px 0px;
	color: #C38C87;
}

.btn {
	background-color: #fff;
	color: #C38C87;
}

.btn:hover {
	background-color: #C38C87;
	color: white;
	border-color: #C38C87;
}

.btn-primary {
	border-color: #F8B5B0; 
	background-color: #F8B5B0; 
	color: white;
	box-shadow: -1px 1px 10px rgba(248, 181, 176, 0.50);
}
.btn-primary:hover {
	background-color:#C38C87; 
	border-color: #C38C87;
	color: #fff;

}

.btn-primary:active {
	background-color:#C38C87 !important;
	border-color: #C38C87 !important;
}

.btn-lg {
	font-size: 16px;
	background-color: white;
	color: #C38C87;
	border-color: white;
}

.btn-tertiary {
background-color: #fff;
border-color: #C38C87;
color: #C38C87;
}

.white {
	color:#C38C87;
	margin-left: 5px;
}

.card-img-top {
	object-fit: cover;
}


.mb-3 {
	padding: 20px;
	border-style: none;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.card-title {
	font-weight: 600;
}

.about2 {
	margin-left: 20px;
}

.black {
	color: black;
	font-size: 36px;
	padding: 20px 0px 10px 0px;
}

.about {
	color: black;
	font-size: 36px;
	padding: 0px;
}
.wmg {
	width: 100%;
}

.work {
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px 20px;
}

.problem-statement-strip {
	display:flex;
	align-items: center;
	padding: 50px;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.tpot-link {
	color: #F8B5B0;
}

.tpot-link:hover {
	color: #C38C87;
}

.bf-p {
	padding-left:30px;
}

.footer {
	text-align: center;
	padding: 30px;
}

.container-social {
	display: flex;
	width: 10%;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.footer-text {
	color: #787878;
	padding-top:10px;
	width: 100%;
	text-align: center;
}

.slide {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.black-2 {
	color: black;
	font-size: 24px;
}

.header-title {
	padding: 0;
	font-weight: 700;
	color: black;
	font-size: 24px;
}
.black-23 {
	padding:30px 30px 0px;
	color: black;
	font-size: 24px;
}

.roles {
	display: inline-block;
	padding: 50px 30px 50px;
	line-height: 15px;

}
.overview-p {
	display: inline-block;
	padding: 50px 30px 50px;
	width: 75vh;
}

.overview {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 80%;

}
.contact {
	padding-left:105px;
}

.contact-link {
	color: #F8B5B0;
	text-decoration: underline;
}

.contact-link:hover {
	color: #C38C87;
}

.problem-statement {
	font-style: italic;
}

.carousel-control-next-icon{
background-color: black;	
	
}	
.carousel-control-prev-icon	{
background-color: black;
}

#bfindicator{
	background-color: black;
}

.second-row {
	padding-top: 30px;
}

.one-strip {
	width: 85%;
	padding: 0px 30px 10px;
	margin-left: auto;
	margin-right: auto;
}

.one-trip {
	width: 82%;
	padding: 0px 10px;
	margin-left: auto;
	margin-right: auto;
}

.tcc {
	object-fit: cover;
	width:300px;
}
.one-strip-2 {
	width: 100%;
	padding: 0px 200px;
	margin-left: auto;
	margin-right: auto;
}

.beefreshjan {
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
	margin-left: auto;
	margin-right: auto;
}

.website-link {
	font-size: 24px;
	color: #F8B5B0;
	text-decoration: underline;
}

.website-link:hover {
	font-size: 24px;
	color: #C38C87;
}
.beefreshjan {
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
	margin-left: auto;
	margin-right: auto;
}

.beefresh-website {
	width: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.marketresearch {
	width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.process {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.one-strip-process {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0px 30px;
}